In [2]:
import pandas as pd
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)

# belize_df.head()
belize_df.tail()
belize_df.describe()
# Create a new dataframe that takes the original dataset and groups the data by neighborhood and finds the average price, total number of reviews, and max availability_365.
groupdf =belize_df.groupby('neighbourhood')
x= groupdf[["price"]].mean()
y= groupdf[["number_of_reviews"]].sum()
b= groupdf[["availability_365"]].max()

leftmerge_df = pd.merge(x,y, on="neighbourhood")
innermerge_df = pd.merge(leftmerge_df,b, on="neighbourhood")
innermerge_df

                            price  number_of_reviews  availability_365
neighbourhood
Belize Islands         399.442824              22995               365
Belize Mainland        288.273063               4105               365
Cayo                   205.847525               7356               365
Corozal                156.553846                492               365
Orange Walk            122.035714                415               365
Stann Creek Islands   1136.166667                 69               365
Stann Creek Mainland   456.994690               4786               365
Toledo Mainland        222.978723                194               365